/* Los estilos de tu proyecto */
.bg-taxi {
  background-image: url("../assets/images/taxi.jpg");
  /* background-size: 100vh; */
}

.sec-reg {
  background-color: #f7b617;
  color: #fff;
}

.bg-cond {
  background-image: url("../assets/images/conduce.jpg");
}
